// _variables.scss

// Colores
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-color: #333;

// Tipografía
$base-font-size: 16px;
$small-heading-font-size: 2em;
$heading-font-size: 3em;

// Espaciados
$base-spacing: 16px;
$small-spacing: 8px;
$large-spacing: 24px;
