@import './../../../styles/variables';

.p-menubar {
    border: none;
    border-radius: 0px;
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: background-color 0.3s ease;
}

.p-menuitem-link:hover{
    color: black;
}

.menu__icon{
    margin-right: $large-spacing;
    transition: opacity 0.3s ease;
}

@media (width <= 960px) {
    .menu__icon{
        display: none;
    }   
}